/*    GLOBELAN #9 CSS DOCUMENT    */
/* SKREVET AV: ALEKSANDER LENGARD */
/*       wacie@globelan.net       */

* {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body , html {
/*	background-color: #869898;*/
	background-color: grey;
	margin-top: 20px;
}


/*  DIV  */

div#hele {
	margin: 0 auto;
	width: 800px;
/*	background-color: #FFFFFF;*/
	background-color: white;
	min-height: 500px;
	padding-top: 1px;
}

div#hele_top {
	background-image: url('bilder/hele_top_big.gif');
	background-repeat: no-repeat;
	background-position: bottom;
	width: 800px;
	height: 10px;
	margin: auto;
}

div#hele_bottom {
	background-image: url('bilder/hele_bottom_big.gif');
	background-repeat: no-repeat;
	background-position: top;
	width: 800px;
	height: 10px;
	margin: auto;
}

div#top {
	margin: 5px;
	padding-bottom: 5px;
}

div#meny {
	width: 200px;
	float: left;
}

div#hoved {
	width: 570px;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 500px;
}

div#bunn {
	width: 800px;
	clear: both;
	padding-top: 20px;
	text-align: center;
	font-size: 10px;
	color: black;
}

div#informasjon {
	width: 525px;
	padding: 25px;
	background-color: #E8EBDF;
}

div#login {
	background: #C2D0CF;
	width: 190px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 10px;
}

div#login_top {
	background-image: url('bilder/login_top_big.gif');
	background-color: #C2D0CF;
	background-repeat: no-repeat;
	width: 190px;
	margin: 0 auto;
}

div#login_bottom {
	background-image: url('bilder/login_bottom_big.gif');
	background-repeat: no-repeat;
	width: 190px;
	margin: 0 auto;
}

div#navigasjon_top {
	background-image: url('bilder/navigation_top_big.gif');
	background-repeat: no-repeat;
	background-color: #DEE0D5;
	width: 190px;
	margin: 0 auto;
}

div#navigasjon_bottom {
	background-image: url('bilder/navigation_bottom_big.gif');
	background-repeat: no-repeat;
	width: 190px;
	margin: 0 auto;
}

div#input {
	width: 140px;
	background-image: url('bilder/input_bg.gif');
	background-repeat: no-repeat;
	margin: 0 auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
	padding-top: 5px !important;
	padding-top: 3px;
	margin-bottom: 5px;
	height: 20px;
}

div#ads {
        background: #C2D0CF;
        width: 190px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10px;
}

div#adsTop {
	background-image: url("bilder/login_top_big.gif");
	background-color: #C2D0CF;
	background-repeat: no-repeat;
	width: 190px;
	margin: 0 auto;
}

div#adsBot {
	background-image: url("bilder/login_bottom_big.gif");
	background-repeat: no-repeat;
	width: 190px;
	margin: 0 auto;
}

/*  UL , LI  */

ul#navigasjon {
	width: 190px;
	background-color: #DEE0D5;
	margin: 0 auto;
	list-style: none;
	padding-left: 0;
}

ul#navigasjon li {
	padding-left: 20px;
	background-image: url('bilder/arrow.gif');
	background-repeat: no-repeat;
	background-position: 0 .3em;
	background-color: #DEE0D5;
	margin-left: 10px;
	padding-bottom: 5px;
	color: #6F8282;
}

/*  A  */

ul#navigasjon li a {
	color: #6F8282;
	text-decoration: none;
}

ul#navigasjon li a:hover {
	color: #485F5F;
}

div#login a {
	text-decoration: none;
	color: #CC3300;
}

div#hoved a {
	text-decoration: none;
	font-weight: bold;
	color: #485F5F;
}

div#bunn a {
	text-decoration: none;
	font-weight: bold;
	color: #485F5F;
}

div#ads a {
	border: none;
}

img#ads a {
	border: none;
}

/*  H1 , H2 , H3 , HR */

h1 {
	width: 790px;
	height: 100px;
	background-image: url('bilder/logo.gif');
	background-position: left;
	background-repeat: no-repeat;
}

div#informasjon h2 {
	color: #CC3300;
	font-size: 16px;
	margin-bottom: 10px;
}

h3 {
	color: #FFFFFF;
	font-size: 16px;
	margin-bottom: 10px;
}

hr {
	margin-top: 30px;
	display: none;
}

/*  SPAN  */

h1 span {
	display: none;
}

/*  IMAGE  */

image {
	border: none;
}

/*  CLASS  */

.login {
	border: 0px;
	width: 150px;
	height: 25px;
	margin-bottom: 5px;
	background: url('bilder/input_bg.gif') no-repeat;
	background-color: #C2D0CF;
	color: #CC3300;
}

.text {
	border: 0px;
	width: 140px;
	background-color: #FFFFFF;
}

.boks {
	display: block;
	margin: 0 auto;
	padding-top: 5px;
	border: 0px;
	width: 150px;
	height: 20px;
	background: url('bilder/input_bg.gif') no-repeat;
	background-color: #C2D0CF;
	color: #6F8282;
}

.newsHeader {
	font-size: 14px;
	color: #CC3300;
}

.profileLeft {
	font-weight: bold;
}

.tbl_left {
	font-weight: bold;
}

td.tdLink
{
        border-bottom:1px dotted;
        line-height:1em;
}

