/*
 * GL - blå: #002a54
 * GL - lys oransje: #f59f19
 * GL - mørk oransje: #b15b0f
 */

body
{
	margin: 0px;
	background: url(top.png);
	background-repeat: repeat-x;
	font-family: Verdana, Arial, sans-serif;
	font-size: .6em;
}

p
{
	line-height: 17px;
	margin: 11px 0 10px 0;
	padding: 0px;
}

h2
{
	color: #9f9f9f;
	margin:0px;
	padding:0px;
	font-size: 15px;
}

ul
{
	font-size: 10px;
	margin:0;
	padding:0;
	list-style-image: url(x.png);
}

a
{
	color: #002a54;
}

a:hover
{
	text-decoration: none;
}

blockquote
{
	background: #F7FDE3;
	color: #606060;
	padding: 10px;
}

#wrap
{
       margin-left: auto;
       margin-right: auto;
       width: 980px;
}

#top
{
	width: 100%;
	height: 88px;
	color: #fff;
	background: #000 url(top.png);
	overflow:hidden;
}

#top h2
{
	color: White;
	letter-spacing: 3px;
	font-size: 2.4em;
	font-weight: normal;
	position: relative;
	margin: 0px;
	top:33px;
	display:block;
	float:left;
	background: url(pre.png) no-repeat;
	padding-left: 10px;
}

#top h2 a
{
	color: white;
	text-decoration: none;
}

#top h2 a:hover
{
        color: #b15b0f;
}

#menu
{
	display: block;
	float:right;
}

#menu ul
{
	margin: 0;
	list-style: none;
}

#menu li
{
	display: block;
	float: left;
	white-space: nowrap;
}

* html #menu a
{
	width:1%;
}

#menu li a:hover
{
	color: #002a54;
	background: url(menu.png);
}

#menu li a.current
{
	letter-spacing: 1px;
	color: gray;
	background: url(menu.png);
}

#menu li a.current:hover
{
	color: #002a54;
}

#content
{
	width: 100%;
	margin-top:30px;
}

#content h2
{
	margin: 0;
	padding: 10px 0 10px 0;
}

#left ul
{
	padding: 15px 0 15px 35px;
	margin:0;
}

#left li
{
	margin-bottom: 5px;
}

#left
{
	width: 680px;
	float:right;
	display: block;
	margin-right: 20px;
	display: inline;
}

#right
{
	width: 150px; 
	float: left;
	display:block;
	margin-top: 10px;
}

#right .box
{
	width: 24em;
	background: #F6F9FB;
	border: 1px solid #E1E1E1;
	padding:10px 10px 15px 10px;
	float: left;
}

#right .box h2
{
	font-size: 1.1em;
	margin: 0px 0 0px 0;
	padding:0px 0 5px 0;
}

#right .box a
{
	margin: 10px 0 10px 0;
	color: #002a54;
	font-size: 10px;
}

#right .box p
{
	margin: 5px 0 10px 0;
	line-height: 15px;
}

#right .box ul
{
	padding: 0 0 7px 20px;
	margin:10px 0 10px 0;
}

#right .box li
{
	margin-top:5px;
}

#nav
{
	list-style: none;
	margin: 2.0em 0;
	width: 25em;
	float: left;
}

#nav li
{
	padding: 0;
	margin: 0;
}

#nav a
{
	display: block;
	height: 2.0em;
	padding: 0.3em 0.3em 0.3em 0.8em;
	border-bottom: 2px;
	border-top: 2px;
	color: #002a54;
	background-color: #F7F9FB;
	font-weight: bold;
	text-decoration: none;
}

#nav a:hover
{
	color: #1a1a1a;
	background: url(pre.png) no-repeat;
	background-color: #ffffff;
	font-weight: bold;
}	

#clear
{
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}

#footer
{
	margin: 40px auto 0 auto;
	text-align: center;
	border-top: dotted 1px gray;
	padding: 20px 0 20px 0;
	width: 70%;
}

#footer p
{
	margin: 0px;
	padding: 0;
}

tr.row1
{
	background-color: #f59f19;
}

tr.row2
{
	background-color: #b15b0f;
}

/* override shared/logs.css */
tr.logrow1
{
	background-color: #f59f19;
}

tr.logrow2
{
	background-color: #b15b0f;
}
table.logs
{
	font-size: 95%;
}
/* end override shared/logs.css */

/* override shared/useradmin.css */
table.userlist
{
	font-size: 95%;
}

tr.userrow0
{
	background-color: lightgreen;
}

tr.userrow1
{
	background-color: #f59f19;
}

tr.userrow2
{
	background-color: #b15b0f;
}
/* end override shared/useradmin.css */

/* override shared/crewlist.css */
tr.crewlistRow1
{
	background-color: #f59f19;
}

tr.crewlistRow2
{
	background-color: #b15b0f;
}
/* end override shared/crewlist.css */

div.newsbox
{
	border-left: dashed 1px black;
	padding-left: 5px;
	
	border-bottom: dashed 1px black;
	padding-bottom: 5px;
}

td.tdLink
{
	border-bottom:1px dotted;
	line-height:1em;
}


table.viewthread
{
	width: 100%;
	border: 1px solid #000000;
	border-collapse: collapse;
}

table.viewthread td
{
	border: 1px solid #000000;
}

table.viewthread td.info
{
	width: 30%;
}

/* Crewlist */
.crewlist {
    border-spacing: 0;
    border: 0;
}

.crewlist tr th,
.crewlist tr td {
    padding: 4px 3px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.crewlist tr th {
    text-align: left;
    background-color: #2b6fb6;
    border-left: 0;
    color: #ffffff;
}

.crewlist tr td:last-child {
    border-right: 1px solid #dddddd;
}

.crewlist tr:nth-child(2n+1) td {
    background-color: #f0f0f0;
}

.crewlist tr:nth-child(2n+1) td:first-child {
    background-color: #E2E4E6;
}

.crewlist.summary-table tr:last-child td {
    font-weight: 700;
}

.arrival-actions-common {
	padding: 5px;
	font-size: 0.75rem;
}

.arrival-actions-white {
	color: #ffffff;
}

.ticket-ok,
.ticket-uhm,
.ticket-warn,
.ticket-error {
	padding: 2px 3px;
	font-size: 0.65rem;
	display: inline-block;
}

td.ticket-ok,
td.ticket-uhm,
td.ticket-warn,
td.ticket-error {
	padding: 4px 5px;
	font-size: 0.75rem;
}

.ticket-error a,
.ticket-ok a,
.ticket-uhm a,
.ticket-warn a {
	text-decoration: none;
}

.ticket-error a {
	color: #ffffff;
}

.ticket-uhm a,
.ticket-warn a {
	color: #000000;
}

.ticket-error {
	background-color: #d60218;
	color: #ffffff;
}

.ticket-ok {
	background-color: #11bf24;
	color: #ffffff;
}

.ticket-uhm {
	background-color: #b0a514;
	color: #000000;
}

.ticket-warn {
	background-color: #d6d507;
	color: #000000;
}

/* For fullscreen link on seating */
.fullscreen-link {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}

.right-holder {
	display: block;
	width: 100%;
}

.right-holder > * {
	float: right;
	display: inline-block;
}
