<div class="ticket pay-door clear overhidden">
    <h3>{{ trans("Betal i døra") }}</h3>
    <p>Ved å betale i døra betaler du når du ankommer GlobeLAN og får kun reservere en plass med en billett.</p>

    <div class="actions pull-right">
    <form action="?module=ticketorder&amp;action=handleOrderTicket" method="post" id="payment-chooser-form1">
        <input type="hidden" name="pay_method" value="door" />
        <input type="hidden" name="ttID" value="{{ ticketType.getTicketTypeID() }}" />

        {% for additionalTicketType in additionalTicketTypes %}
            <input type="hidden" name="attID[]" value="{{ additionalTicketType.getTicketTypeID() }}" />
        {% endfor %}

        <button type="button" class="btn btn-grey btn-small" onclick="window.location = '?module=ticketorder';">Avbryt</button>
        <button type="submit" class="btn btn-green btn-small">Fullfør</button>
    </form>
    </div>
</div>
<div class="disclaimer">
    Angrerettsloven gjelder ikke ved kjøp via GlobeLAN PartySys. Lovens kapittel fem paragraf 19 omhandler begrensninger i loven:
    <em>«Ved annet fjernsalg gjelder angreretten ikke for enkeltstående tjenester dersom selgeren ved avtaleinngåelsen forplikter seg til å levere tjenesten på et bestemt tidspunkt eller inennfor et bestemt tidsrom»</em>
    Enkeltstående tjenester har blitt tolket av myndighetene til å gjelde for eksempel underholdningsarrangement som teater, kino, konsert og datatreff.
</div>
