/*
 * CSS rules for allowing content fullwidth.
 * @author edvin
 */

div#wrap {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

div#right {
    display: none;
}

div#left {
    width: 100%;
    margin-right: 0;
}

table#seatRegTable {
    margin: 0 auto;
}