body {
	background-color: #DBEFFB;
}

h1 {
	padding-top: 3%;
	padding-left: 2em;
	color: #000;
	height: 1em;	
}

#content {
	width: 630px;
	margin: 0px auto 0px auto;
	padding: 2em;
	border: 1px solid #000;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomright: 6px;
	background-color: #fff;
}

