table#seatRegTable {
    text-align: center;
    padding: 0px;
    border: solid #000 0px;

}

.seatNormalUser {
    background-color: red;
    font-size: 12px;
}

.seatUnknownCell {
    background-color: pink;
}

.seatWall {
    background-color: black;
    padding: 5px;
    border: 0px;
}

.seatBlank {
    background-color: white;
}

.seatDoor {
    background-color: blue;
}

.seatPassword {
    background-color: orange;
}

.seatGroup {
    background-color: purple;
}

.seatCurrentSelected {
    background-color: yellow;
    color: black;
}
