.wannabeCommentStyle0 {
//   background-color: red;
}
.wannabeCommentStyle1 {
    background-color: red;
}
.wannabeCommentStyle2 {
    background-color: orange;
}
.wannabeCommentStyle3 {
    background-color: grey;
}
.wannabeCommentStyle4 {
    background-color: yellow;
}
.wannabeCommentStyle5 {
    background-color: green;
}
